WEB_TRANSITION()
  -webkit-transition-property: all
  -moz-transition-property: all
  -o-transition-property: all
  -ms-transition-property: all
  transition-property: all
  -webkit-transition-duration: 0.3s
  -moz-transition-duration: 0.3s
  -o-transition-duration: 0.3s
  -ms-transition-duration: 0.3s
  transition-duration: 0.3s

.ioco-page-designer
  height: 100%

.ioco-page-designer-drop-desc
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 500px
  height: 70px
  margin: auto
  color: #333
  text-shadow: 0 0 3px rgba(0,0,0,0.5)
  background-color: rgba(255,255,255,0.7)
  padding: 10px 0
  font-size: 30px
  text-align: center
  z-index: 998

.ioco-page-designer-toolbar
  position: absolute
  top: 0
  right: 0
  width: 51px
  bottom: 0
  background: #eee
  border: 1px solid #aaa
  border-radius: 1px
  z-index: 11
  box-shadow: -2px -2px 3px rgba(0,0,0,0.5)
  WEB_TRANSITION()

  .ioco-logo
    width: 38px
    height: 14px
    position: absolute
    top: 5px
    left: 7px
    background-image: url('../ioco.png')
    &.draggable-handle
      cursor: move

  .overflow-area
    overflow-y: auto
    margin-right: -5px

  &.expanded
    width: 161px
    WEB_TRANSITION()

  .switch-btn
    margin: 0 0 10px
    float: left

  .page-designer-part
    display: none
    padding: 5px
    margin-top: 15px
    ul
      list-style: none
      background: #fafafa
      li
        font-size: 10px
        padding: 3px 5px
        border-bottom: 1px solid #ddd
        cursor: move
        &:last-child
          border-bottom: none
        &:hover
          background-color: #8a0
          color: white
    h1
      font-size: 16px
      font-weight: 100
      margin: 5px 0 10px
    .desc
      font-size: 10px
      color: #777
      margin-bottom: 10px
    h2
      font-size: 14px
      font-weight: 100
      margin: 5px 0


    &.disabled
      .design-btn
        opacity: 0.1
        cursor: default

  .switch-btns
    position: absolute
    left: -114px
    top: 150px
    width: 200px
    transform: rotate( 270deg )
    -ms-transform: rotate( 270deg )
    -moz-transform: rotate( 270deg )
    -webkit-transform: rotate( 270deg )
    -o-transform: rotate( 270deg )
    a
      border: 1px solid #aaa
      border-bottom: none
      margin: 0 1px
      color: #777
      font-size: 12px
      padding: 2px 10px 3px
      text-decoration: none
      opacity: 0.5
      background-color: #eee
      &.active
        opacity: 1

  .design-btn, .source-btn
    margin: 10px 0
    padding: 10px
    border: 1px solid #ccc
    text-align: center
    background-color: #f0f0f0
    opacity: 0.8
    cursor: pointer

  .design-btn
    cursor: move
    &:hover
      opacity: 1
      background-color: #fff
      border: 1px solid #ccc
      box-shadow: 1px 1px 3px rgba(0,0,0,0.5)
    &.small
      padding: 0
      margin: 1px
      line-height: 5px
      float: left
      cursor: pointer
    &.text
      font-size: 10px
      padding: 5px
      font-weight: 900

  .spacer
    height: 1px
    border: none
    border-top: 1px solid #ccc
    margin: 5px 0
    width: 100%
    &.small
      float: left

.ioco-modal
  .sidebar-content
    .web-bit-props
      h1
        font-size: 20px
        color: #555
        font-weight: 100
      label
        color: #777
        font-size: 12px
      p
        margin-top: 5px
      input[type=text]
        width: 98%
      .ace-editor
        width: 100%
        height: 270px
        position: absolute
        top: 120px
        left: 0
        font-size: 11px

      table.revisions
        width: 100%
        td
          border-bottom: 1px solid #ddd
          padding: 5px 2px
          &.revision
            width: 4em
            text-align: center
        tr:last-child
          td
            border: none

html, body

  height: 100%

  .ioco-page-content
    width: 100%
    height: 100%
    position: relative

    .tool-helper
      width: 30%
      font-size: 40px
      color: #333
      text-align: center
      padding: 70px 0
      text-shadow: 0 0 3px rgba(0,0,0,0.5)
      background-color: rgba(255,255,255,0.9)
      border: 2px dashed #ddd
      z-index: 999


    &.highlight
      background-color: #ffe

    .ioco-web-bit
      position: relative
      z-index: 1
      //-moz-user-select: none
      //-khtml-user-select: none
      //-webkit-user-select: none
      //user-select: none

      &.root
        min-width: 100px
        min-height: 200px
        height: 100%

      //&.edit-mode
      //  -moz-user-select: auto
      //  -khtml-user-select: auto
      //  -webkit-user-select: auto
      //  user-select: auto

      &.hovered, &.outlined
        outline: 2px dashed #ddd

      &.changed
        background: rgba( 200, 50, 50, 0.5 )

      &.highlight-left
        border-left: 20px solid #8a0

      &.highlight
        background-color: rgba( 200, 150, 70, 0.3 )

      &.clearfix
        zoom: 1
        &:before, &:after
          content: ""
          display: p
        &:after
          clear: both

      .box-controls
        position: absolute
        top: 5px
        left: 20px
        display: none
        height: 24px
        background: #eee
        border: 1px solid #ccc
        opacity: 0.3
        &:hover
          opacity: 1
        a.box-control
          margin: 0
          padding: 1px 3px
          float: left
          color: #333
          cursor: pointer
          font-size: 16px
          &.detach-box
            padding: 0 8px
          .icn
            margin: 3px 1px
            opacity: 0.5
            &:hover
              opacity: 1
          &.move-btn
            opacity: 0.1
            &.move-enabled
              opacity: 1
              cursor: move

      &.active
        outline: 3px dashed rgba( 255, 100, 100, 0.5 )
        z-index: 10
        > .box-controls
          display: block
          z-index: 11

      h1.no-text
        font-size: 32px
        color: rgba(0,0,0,0.5)
        font-weight: 100
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        text-align: center
        line-height: 150px

      &.fill-all
        width: 100%
        height: 100%
        position: relative

      &.float-left
        float: left
        z-index: 2

      &.float-right
        float: right
        z-index: 2

      &.float-left-all-over
        float: left
        height: 100%

      &.float-right-all-over
        float: right
        height: 100%

      &.position-absolute
        position: absolute
        top: 0
        left: 0

      &.span1, &.span2, &.span3
        margin: 1%
        min-height: 150px
      &.span1
        width: 31%
      &.span2
        width: 64%
      &.span3
        width: 98%