.ioco-page-designer-drop-desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 70px;
  margin: auto;
  color: #333;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.7);
  padding: 10px 0;
  font-size: 30px;
  text-align: center;
  z-index: 998;
}
.ioco-page-designer-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  bottom: 0;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 1px;
  z-index: 11;
  box-shadow: -2px -2px 3px rgba(0,0,0,0.5);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.ioco-page-designer-toolbar .ioco-logo {
  width: 38px;
  height: 19px;
  position: absolute;
  top: 5px;
  left: 7px;
  background-image: url("../ioco.png");
}
.ioco-page-designer-toolbar .ioco-logo.draggable-handle {
  cursor: move;
}
.ioco-page-designer-toolbar .overflow-area {
  overflow-y: auto;
  margin-right: -5px;
}
.ioco-page-designer-toolbar.expanded {
  width: 161px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.ioco-page-designer-toolbar .switch-btn {
  margin: 0 0 10px;
  float: left;
}
.ioco-page-designer-toolbar .page-designer-part {
  display: none;
  padding: 5px;
  margin-top: 15px;
}
.ioco-page-designer-toolbar .page-designer-part ul {
  list-style: none;
  background: #fafafa;
}
.ioco-page-designer-toolbar .page-designer-part ul li {
  font-size: 10px;
  padding: 3px 5px;
  border-bottom: 1px solid #ddd;
  cursor: move;
}
.ioco-page-designer-toolbar .page-designer-part ul li:last-child {
  border-bottom: none;
}
.ioco-page-designer-toolbar .page-designer-part ul li:hover {
  background-color: #8a0;
  color: #fff;
}
.ioco-page-designer-toolbar .page-designer-part h1 {
  font-size: 16px;
  font-weight: 100;
  margin: 5px 0 10px;
}
.ioco-page-designer-toolbar .page-designer-part .desc {
  font-size: 10px;
  color: #777;
  margin-bottom: 10px;
}
.ioco-page-designer-toolbar .page-designer-part h2 {
  font-size: 14px;
  font-weight: 100;
  margin: 5px 0;
}
.ioco-page-designer-toolbar .page-designer-part.disabled .design-btn {
  opacity: 0.1;
  cursor: default;
}
.ioco-page-designer-toolbar .switch-btns {
  position: absolute;
  left: -110px;
  top: 150px;
  width: 200px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.ioco-page-designer-toolbar .switch-btns a {
  border: 1px solid #aaa;
  border-bottom: none;
  margin: 0 1px;
  color: #777;
  font-size: 12px;
  padding: 2px 10px 3px;
  text-decoration: none;
  opacity: 0.5;
  background-color: #eee;
}
.ioco-page-designer-toolbar .switch-btns a.active {
  opacity: 1;
}
.ioco-page-designer-toolbar .design-btn,
.ioco-page-designer-toolbar .source-btn {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f0f0f0;
  opacity: 0.8;
  cursor: pointer;
}
.ioco-page-designer-toolbar .design-btn {
  cursor: move;
}
.ioco-page-designer-toolbar .design-btn:hover {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.ioco-page-designer-toolbar .design-btn.small {
  padding: 0;
  margin: 1px;
  line-height: 5px;
  float: left;
  cursor: pointer;
}
.ioco-page-designer-toolbar .design-btn.text {
  font-size: 10px;
  padding: 5px;
  font-weight: 900;
}
.ioco-page-designer-toolbar .spacer {
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
  width: 100%;
}
.ioco-page-designer-toolbar .spacer.small {
  float: left;
}
.ioco-modal .sidebar-content .web-bit-props h1 {
  font-size: 20px;
  color: #555;
  font-weight: 100;
}
.ioco-modal .sidebar-content .web-bit-props label {
  color: #777;
  font-size: 12px;
}
.ioco-modal .sidebar-content .web-bit-props p {
  margin-top: 5px;
}
.ioco-modal .sidebar-content .web-bit-props input[type=text] {
  width: 98%;
}
.ioco-modal .sidebar-content .web-bit-props .ace-editor {
  width: 100%;
  height: 270px;
  position: absolute;
  top: 120px;
  left: 0;
  font-size: 11px;
}
html,
body {
  height: 100%;
}
html .ioco-page-content,
body .ioco-page-content {
  width: 100%;
  height: 100%;
  position: relative;
}
html .ioco-page-content.tool-helper,
body .ioco-page-content.tool-helper {
  width: 30%;
  font-size: 40px;
  color: #333;
  text-align: center;
  padding: 70px 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,0.9);
  border: 2px dashed #ddd;
  z-index: 999;
}
html .ioco-page-content.highlight,
body .ioco-page-content.highlight {
  background-color: #ffe;
}
html .ioco-page-content .ioco-web-bit,
body .ioco-page-content .ioco-web-bit {
  position: relative;
  z-index: 1;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html .ioco-page-content .ioco-web-bit.root,
body .ioco-page-content .ioco-web-bit.root {
  min-width: 100px;
  min-height: 200px;
}
html .ioco-page-content .ioco-web-bit.edit-mode,
body .ioco-page-content .ioco-web-bit.edit-mode {
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
html .ioco-page-content .ioco-web-bit.hovered,
body .ioco-page-content .ioco-web-bit.hovered {
  outline: 2px dashed #ddd;
}
html .ioco-page-content .ioco-web-bit.highlight-left,
body .ioco-page-content .ioco-web-bit.highlight-left {
  outline: none;
  border-left: 20px solid #8a0;
}
html .ioco-page-content .ioco-web-bit.highlight,
body .ioco-page-content .ioco-web-bit.highlight {
  background-color: #fc6;
}
html .ioco-page-content .ioco-web-bit.clearfix,
body .ioco-page-content .ioco-web-bit.clearfix {
  zoom: 1;
}
html .ioco-page-content .ioco-web-bit.clearfix:before,
body .ioco-page-content .ioco-web-bit.clearfix:before,
html .ioco-page-content .ioco-web-bit.clearfix:after,
body .ioco-page-content .ioco-web-bit.clearfix:after {
  content: "";
  display: p;
}
html .ioco-page-content .ioco-web-bit.clearfix:after,
body .ioco-page-content .ioco-web-bit.clearfix:after {
  clear: both;
}
html .ioco-page-content .ioco-web-bit .box-controls,
body .ioco-page-content .ioco-web-bit .box-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  height: 24px;
  background: #eee;
  border: 1px solid #ccc;
  opacity: 0.3;
}
html .ioco-page-content .ioco-web-bit .box-controls:hover,
body .ioco-page-content .ioco-web-bit .box-controls:hover {
  opacity: 1;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control {
  margin: 0;
  padding: 1px 3px;
  float: left;
  color: #333;
  cursor: pointer;
  font-size: 16px;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control.detach-box,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control.detach-box {
  padding: 3px 5px;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control .icn,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control .icn {
  margin: 3px 1px;
  opacity: 0.5;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control .icn:hover,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control .icn:hover {
  opacity: 1;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control.move-btn,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control.move-btn {
  opacity: 0.1;
}
html .ioco-page-content .ioco-web-bit .box-controls a.box-control.move-btn.move-enabled,
body .ioco-page-content .ioco-web-bit .box-controls a.box-control.move-btn.move-enabled {
  opacity: 1;
  cursor: move;
}
html .ioco-page-content .ioco-web-bit.active,
body .ioco-page-content .ioco-web-bit.active {
  outline: 3px dashed rgba(255,100,100,0.5);
  z-index: 10;
}
html .ioco-page-content .ioco-web-bit.active > .box-controls,
body .ioco-page-content .ioco-web-bit.active > .box-controls {
  display: block;
  z-index: 11;
}
html .ioco-page-content .ioco-web-bit h1.no-text,
body .ioco-page-content .ioco-web-bit h1.no-text {
  font-size: 32px;
  color: rgba(0,0,0,0.5);
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 150px;
}
html .ioco-page-content .ioco-web-bit.fill-all,
body .ioco-page-content .ioco-web-bit.fill-all {
  width: 100%;
  height: 100%;
  position: relative;
}
html .ioco-page-content .ioco-web-bit.float-left,
body .ioco-page-content .ioco-web-bit.float-left {
  float: left;
  z-index: 2;
}
html .ioco-page-content .ioco-web-bit.float-right,
body .ioco-page-content .ioco-web-bit.float-right {
  float: right;
  z-index: 2;
}
html .ioco-page-content .ioco-web-bit.float-left-all-over,
body .ioco-page-content .ioco-web-bit.float-left-all-over {
  float: left;
  height: 100%;
}
html .ioco-page-content .ioco-web-bit.float-right-all-over,
body .ioco-page-content .ioco-web-bit.float-right-all-over {
  float: right;
  height: 100%;
}
html .ioco-page-content .ioco-web-bit.position-absolute,
body .ioco-page-content .ioco-web-bit.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
html .ioco-page-content .ioco-web-bit.span1,
body .ioco-page-content .ioco-web-bit.span1,
html .ioco-page-content .ioco-web-bit.span2,
body .ioco-page-content .ioco-web-bit.span2,
html .ioco-page-content .ioco-web-bit.span3,
body .ioco-page-content .ioco-web-bit.span3 {
  margin: 1%;
}
html .ioco-page-content .ioco-web-bit.span1,
body .ioco-page-content .ioco-web-bit.span1 {
  width: 31%;
}
html .ioco-page-content .ioco-web-bit.span2,
body .ioco-page-content .ioco-web-bit.span2 {
  width: 64%;
}
html .ioco-page-content .ioco-web-bit.span3,
body .ioco-page-content .ioco-web-bit.span3 {
  width: 98%;
}
