html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
  margin: 0
  padding: 0

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800');

html
  font-family: "OpenSans", 'Arial', sans-serif
  font-size: 100%

[draggable]
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

#iokit-modal
  IO_POS_ABSOLUTE()
  width: 800px
  height: 600px
  background-color: white
  box-shadow: -2px -2px 3px rgba(0,0,0,0.5)
  border-radius: 1px
  margin: auto
  z-index: 1000

  .modal-win-ctrl
    position: absolute
    top: 9px
    padding: 0
    opacity: 0.5
    &:hover
      opacity: 1

  .close-icn
    top: 5px
    font-size: 20px

  .modal-title
    position: absolute
    top: 10px
    left: 10px
    font-weight: 900

  .modal-inner-wrapper
    IO_POS_ABSOLUTE()
    top: 40px
    overflow: auto
    border-top: 1px solid #ddd

    .modal-sidebar

      .sidebar-nav
        IO_POS_ABSOLUTE()
        width: 150px
        overflow: auto
        border-right: 1px solid #ddd
        list-style: none
        padding: 20px 0
        li
          padding: 5px
          font-weight: 300
          cursor: pointer
          border-left: 5px solid transparent
          font-size: 0.9em
          &:hover
            background-color: IO_GREY_BG
          &.active
            border-color: IO_ORANGE
            font-weight: 900
            color: IO_ORANGE
      .sidebar-content
        IO_POS_ABSOLUTE()
        left: 160px
        overflow: auto
        >div
          display: none

      .offset-details-view
        margin-right: 220px
      .modal-details-view
        width: 240px
        position: absolute
        top: 0
        right: 0
        bottom: 0
        border-left: 1px solid #ddd

  &.arrange-left
    margin: 0
    left: 0
    bottom: 0
    width: 150px
    IO_TRANSITION(0.3s)
    .sidebar-nav
      display: none
    .modal-details-view
      display: none
    .modal-sidebar 
      .sidebar-content
        left: 0
      .offset-details-view
        margin-right: 0
    .modal-title
      display: none
    .web-files-control div
      display: none
    .selected-counter
      display: none

.btn
  IO_GRADIENT( #f5f5f5, #f1f1f1 )
  border: 1px solid #DCDCDC
  border-radius: 1px
  color: #333333;
  cursor: pointer;
  font-weight: bold
  padding: 4px 12px
  text-shadow: -1px 1px 0 #FFFFFF
  white-space: nowrap
  border-radius: 1px
  text-decoration: none
  font-size: 12px
  cursor: pointer
  &:hover
    background-color: IO_BUTTON_WHITE_HOVER;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8f8f8), to(#F8f8f8))
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #C6C6C6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
    text-shadow: none;
    transition: none 0s ease 0s;
    z-index: 2;
  &.w-icn-only
    padding: 4px 8px 2px
    .icn
      opacity: 0.5
  &.no-bg
    background: none
    box-shadow: none
    opacity: 0.8
    border: none
    &:hover
      background: none
      box-shadow: none
      opacity: 1
  &.blue
    IO_GRADIENT(#118be7, #007ad6)
    color: white
    text-shadow: none
    font-weight: 500
    border: 1px solid #118be7
  &.green
    IO_GRADIENT(#8a0, #9b1)
    color: white
    text-shadow: none
    font-weight: 500
    border: 1px solid #8a0
    &:hover
      border: 1px solid #790
      box-shadow: -1px 1px 1px rgba(0,0,0,0.3)

/* ------------------------------------------------ icons */
.icn
  width: 16px
  height: 16px
  display: inline-block
  background-image: url('./iokit-icons16x16.png')
  &.icn-plus
    background-position: 0 0
  &.icn-minus
    background-position: -16px 0
  &.icn-upload
    background-position: -32px 0
  &.icn-download
    background-position: -48px 0
  &.icn-info
    background-position: -64px 0
  &.icn-pencil
    background-position: -80px 0
  &.icn-preferences, &.icn-settings, &.icn-properties
    background-position: -96px 0
  &.icn-save
    background-position: -112px 0
  &.icn-home
    background-position: -128px 0
  &.icn-comments
    background-position: -144px 0
  &.icn-person, &icn-person-male
    background-position: -32px 0
  &icn-person-female
    background-position: -32px -16px
  &.icn-checkbox, &.icn-plain
    background-position: 0 -80px
    &.checked
      background-position: -16px -80px
  &.icn-web_element, &.icn-webelement
    background-position: -112px -64px
  &.icn-trash
    background-position: -48px -32px
  &.icn-preview, &.icn-eye-open
    background-position: -64px -32px
  &.icn-refresh
    background-position: -80px -16px
  &.icn-win-arrange-left, &.icn-box-float-left-all-over
    background-position: -144px -16px
  &.icn-win-arrange-right, &.icn-box-float-right-all-over
    background-position: -128px -16px
  &.icn-box-float-none
    background-position: -96px -96px
  &.icn-box-float-right
    background-position: -112px -96px
  &.icn-box-float-left
    background-position: -128px -96px
  &.icn-box-position-absolute
    background-position: -144px -96px
  &.icn-move
    background-position: -80px -96px
  &.icn-locked
    background-position: -80px -32px
    &.unlocked
      background-position: -96px -32px
  &.icn-bold
    background-position: -32px -48px
  &.icn-italic
    background-position: -16px -48px
  &.icn-underline
    background-position: -48px -48px
  &.icn-strikeThrough
    background-position: -64px -48px
  &.icn-paste
    background-position: -64px -64px
  &.icn-link
    background-position: 0 -48px
  &.icn-code, &.icn-source
    background-position: 0 -64px
  &.icn-undo
    background-position: -16px -64px
  &.icn-redo
    background-position: -32px -64px
  &.icn-justifyLeft
    background-position: -80px -48px
  &.icn-justifyRight
    background-position: -96px -48px
  &.icn-justifyCenter
    background-position: -112px -48px
  &.icn-justifyFull
    background-position: -128px -48px
  &.icn-list, &.icn-insertUnorderedList
    background-position: -144px -48px
  &.icn-insertOrderedList
    background-position: -144px -64px
  &.icn-image
    background-position: -32px -80px
  &.icn-share
    background-position: -48px -80px
  &.icn-file
    background-position: -64px -80px
  &.icn-search
    background-position: -64px -16px
  &.icn-power
    background-position: -128px -32px
  &.icn-history
    background-position: -112px -32px
  &.icn-email
    background-position: -80px -80px
  &.icn-reply
    background-position: -96px -80px
  &.icn-edit2
    background-position: -112px -80px
  &.icn-exit
    background-position: -128px -80px
  &.icn-user
    background-position: 0px -32px
    &.role-editor
      background-position: -16px -32px
    &.role-admin
      background-position: -32px -32px
  &.icn-arr-right
    background-position: -32px -96px


/* ------------------------------------------------ tipys */
.tipsy
  font-size: 10px
  position: absolute
  padding: 5px
  z-index: 100000

.tipsy-inner
  background-color: rgba(0,0,0,0.8)
  color: #FFF
  max-width: 200px
  padding: 5px 8px 4px 8px
  text-align: center
  border-radius: 1px

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed rgba(0,0,0,0.95); }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: rgba(0,0,0,0.95); }
.tipsy-arrow-s { border-top-color: rgba(0,0,0,0.95); }
.tipsy-arrow-e { border-left-color: rgba(0,0,0,0.95); }
.tipsy-arrow-w { border-right-color: rgba(0,0,0,0.95); }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
