html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800");
html {
  font-family: "OpenSans", 'Arial', sans-serif;
  font-size: 100%;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#iokit-modal {
  width: 800px;
  height: 600px;
  background-color: IO_WHITE;
  box-shadow: IO_BOX_SHADOW;
  border-radius: 1px;
  margin: auto;
  z-index: 1000;
}
#iokit-modal .modal-win-ctrl {
  position: absolute;
  top: 9px;
  padding: 0;
  opacity: 0.5;
}
#iokit-modal .modal-win-ctrl:hover {
  opacity: 1;
}
#iokit-modal .close-icn {
  top: 5px;
  font-size: 20px;
}
#iokit-modal .modal-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 900;
}
#iokit-modal .modal-inner-wrapper {
  top: 40px;
  overflow: auto;
  border-top: 1px solid #ddd;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav {
  width: 150px;
  overflow: auto;
  border-right: 1px solid #ddd;
  list-style: none;
  padding: 20px 0;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li {
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
  border-left: 5px solid transparent;
  font-size: 0.9em;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li:hover {
  background-color: IO_GREY_BG;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li.active {
  border-color: IO_ORANGE;
  font-weight: 900;
  color: IO_ORANGE;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-content {
  left: 160px;
  overflow: auto;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-content >div {
  display: none;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .offset-details-view {
  margin-right: 220px;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .modal-details-view {
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #ddd;
}
#iokit-modal.arrange-left {
  margin: 0;
  left: 0;
  bottom: 0;
  width: 150px;
}
#iokit-modal.arrange-left .sidebar-nav {
  display: none;
}
#iokit-modal.arrange-left .modal-details-view {
  display: none;
}
#iokit-modal.arrange-left .modal-sidebar .sidebar-content {
  left: 0;
}
#iokit-modal.arrange-left .modal-sidebar .offset-details-view {
  margin-right: 0;
}
#iokit-modal.arrange-left .modal-title {
  display: none;
}
#iokit-modal.arrange-left .web-files-control div {
  display: none;
}
#iokit-modal.arrange-left .selected-counter {
  display: none;
}
.btn {
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 12px;
  text-shadow: -1px 1px 0 #fff;
  white-space: nowrap;
  border-radius: 1px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.btn:hover {
  background-color: IO_BUTTON_WHITE_HOVER;
  background-image: -moz-linear-gradient(center top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #c6c6c6;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  color: #333;
  text-shadow: none;
  transition: none 0s ease 0s;
  z-index: 2;
}
.btn.w-icn-only {
  padding: 4px 8px 2px;
}
.btn.w-icn-only .icn {
  opacity: 0.5;
}
.btn.no-bg {
  background: none;
  box-shadow: none;
  opacity: 0.8;
  border: none;
}
.btn.no-bg:hover {
  background: none;
  box-shadow: none;
  opacity: 1;
}
.btn.blue {
  color: #fff;
  text-shadow: none;
  font-weight: 500;
  border: 1px solid #118be7;
}
.btn.green {
  color: #fff;
  text-shadow: none;
  font-weight: 500;
  border: 1px solid #8a0;
}
.btn.green:hover {
  border: 1px solid #790;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
}
/* ------------------------------------------------ icons */
.icn {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("./iokit-icons16x16.png");
}
.icn.icn-plus {
  background-position: 0 0;
}
.icn.icn-minus {
  background-position: -16px 0;
}
.icn.icn-upload {
  background-position: -32px 0;
}
.icn.icn-download {
  background-position: -48px 0;
}
.icn.icn-info {
  background-position: -64px 0;
}
.icn.icn-pencil {
  background-position: -80px 0;
}
.icn.icn-preferences,
.icn.icn-settings,
.icn.icn-properties {
  background-position: -96px 0;
}
.icn.icn-save {
  background-position: -112px 0;
}
.icn.icn-home {
  background-position: -128px 0;
}
.icn.icn-comments {
  background-position: -144px 0;
}
.icn.icn-person,
.icnicn-person-male {
  background-position: -32px 0;
}
.icnicn-person-female {
  background-position: -32px -16px;
}
.icn.icn-checkbox,
.icn.icn-plain {
  background-position: 0 -80px;
}
.icn.icn-checkbox.checked,
.icn.icn-plain.checked {
  background-position: -16px -80px;
}
.icn.icn-web_element,
.icn.icn-webelement {
  background-position: -112px -64px;
}
.icn.icn-trash {
  background-position: -48px -32px;
}
.icn.icn-preview,
.icn.icn-eye-open {
  background-position: -64px -32px;
}
.icn.icn-refresh {
  background-position: -80px -16px;
}
.icn.icn-win-arrange-left,
.icn.icn-box-float-left-all-over {
  background-position: -144px -16px;
}
.icn.icn-win-arrange-right,
.icn.icn-box-float-right-all-over {
  background-position: -128px -16px;
}
.icn.icn-box-float-none {
  background-position: -96px -96px;
}
.icn.icn-box-float-right {
  background-position: -112px -96px;
}
.icn.icn-box-float-left {
  background-position: -128px -96px;
}
.icn.icn-box-position-absolute {
  background-position: -144px -96px;
}
.icn.icn-move {
  background-position: -80px -96px;
}
.icn.icn-locked {
  background-position: -80px -32px;
}
.icn.icn-locked.unlocked {
  background-position: -96px -32px;
}
.icn.icn-bold {
  background-position: -32px -48px;
}
.icn.icn-italic {
  background-position: -16px -48px;
}
.icn.icn-underline {
  background-position: -48px -48px;
}
.icn.icn-strikeThrough {
  background-position: -64px -48px;
}
.icn.icn-paste {
  background-position: -64px -64px;
}
.icn.icn-link {
  background-position: 0 -48px;
}
.icn.icn-code,
.icn.icn-source {
  background-position: 0 -64px;
}
.icn.icn-undo {
  background-position: -16px -64px;
}
.icn.icn-redo {
  background-position: -32px -64px;
}
.icn.icn-justifyLeft {
  background-position: -80px -48px;
}
.icn.icn-justifyRight {
  background-position: -96px -48px;
}
.icn.icn-justifyCenter {
  background-position: -112px -48px;
}
.icn.icn-justifyFull {
  background-position: -128px -48px;
}
.icn.icn-list,
.icn.icn-insertUnorderedList {
  background-position: -144px -48px;
}
.icn.icn-insertOrderedList {
  background-position: -144px -64px;
}
.icn.icn-image {
  background-position: -32px -80px;
}
.icn.icn-share {
  background-position: -48px -80px;
}
.icn.icn-file {
  background-position: -64px -80px;
}
.icn.icn-search {
  background-position: -64px -16px;
}
.icn.icn-power {
  background-position: -128px -32px;
}
.icn.icn-history {
  background-position: -112px -32px;
}
.icn.icn-email {
  background-position: -80px -80px;
}
.icn.icn-reply {
  background-position: -96px -80px;
}
.icn.icn-edit2 {
  background-position: -112px -80px;
}
.icn.icn-exit {
  background-position: -128px -80px;
}
.icn.icn-user {
  background-position: 0px -32px;
}
.icn.icn-user.role-editor {
  background-position: -16px -32px;
}
.icn.icn-user.role-admin {
  background-position: -32px -32px;
}
.icn.icn-arr-right {
  background-position: -32px -96px;
}
/* ------------------------------------------------ tipys */
.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}
.tipsy-inner {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  border-radius: 1px;
}
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed rgba(0,0,0,0.95);
}
/* Rules to colour arrows */
.tipsy-arrow-n {
  border-bottom-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-s {
  border-top-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-e {
  border-left-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-w {
  border-right-color: rgba(0,0,0,0.95);
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
